################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ConsoleApp1/FileContentIndex/d3b48033-a391-45d8-9cea-db01dbbf51cf.vsidx
